# 1. Import necessary libraries

In [1]:

#library for EDA
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# 2. Loading dataset

In [2]:
# read the cvs file
#df = pd.read_csv("CarPrice_data1.csv")
df = pd.read_csv("CarPrice_main_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11713 entries, 0 to 11712
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   S.No#               11713 non-null  int64
 1   CarTitle            11713 non-null  object
 2   CarCompany          11713 non-null  object
 3   ModelYear           11713 non-null  int64
 4   Mileage(km)         11713 non-null  int64
 5   EngineType          11713 non-null  object
 6   Transmission        11713 non-null  object
 7   RegisteredCIty      11713 non-null  object
 8   CarColor            11713 non-null  object
 9   EngineCapacity(cc)  11713 non-null  int64
 10  BodyType            11713 non-null  object
 11  Price(PKR_lacs)     11713 non-null  float64
dtypes: float64(1), int64(4), object(7)
memory usage: 1.1+ MB

# Converting datatypes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11713 entries, 0 to 11712
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   S.No#               11713 non-null  int64
 1   CarTitle            11713 non-null  object
 2   CarCompany          11713 non-null  object
 3   ModelYear           11713 non-null  int64
 4   Mileage(km)         11713 non-null  int64
 5   EngineType          11713 non-null  object
 6   Transmission        11713 non-null  object
 7   RegisteredCIty      11713 non-null  object
 8   CarColor            11713 non-null  object
 9   EngineCapacity(cc)  11713 non-null  int64
 10  BodyType            11713 non-null  object
 11  Price(PKR_lacs)     11713 non-null  float64
dtypes: float64(1), int64(4), object(7)
memory usage: 1.1+ MB

In [4]:
#converting string object data type to category data type
df['CarCompany'] = df['CarCompany'].astype('category')
df['EngineType'] = df['EngineType'].astype('category')
df['Transmission'] = df['Transmission'].astype('category')
df['RegisteredCIty'] = df['RegisteredCIty'].astype('category')
df['CarColor'] = df['CarColor'].astype('category')
df['BodyType'] = df['BodyType'].astype('category')


#converting numeric object data type to float data type
df['EngineCapacity(cc)'] = df['EngineCapacity(cc)'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11713 entries, 0 to 11712
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   S.No#               11713 non-null  int64
 1   CarTitle            11713 non-null  object
 2   CarCompany          11713 non-null  category
 3   ModelYear           11713 non-null  int64
 4   Mileage(km)         11713 non-null  int64
 5   EngineType          11713 non-null  category
 6   Transmission        11713 non-null  category
 7   RegisteredCIty      11713 non-null  category
 8   CarColor            11713 non-null  category
 9   EngineCapacity(cc)  11713 non-null  float64
 10  BodyType            11713 non-null  category
 11  Price(PKR_lacs)     11713 non-null  float64
dtypes: category(6), float64(2), int64(3), object(1)
memory usage: 623.3+ KB

In [5]:
Continuous_features =[ 'ModelYear', 'Mileage(km)','EngineCapacity(cc)',  'Price(PKR_lacs)']
Categorical_features = ['CarCompany','EngineType', 'Transmission', 'RegisteredCIty', 'CarColor', 'BodyType']

In [6]:
Selected_features=['ModelYear',
 'EngineCapacity(cc)',
 'CarCompany',
 'EngineType',
 'Transmission',
 'RegisteredCIty',
 'CarColor',
 'BodyType']

In [7]:
Selected_columns =  Selected_features + ['Price(PKR_lacs)']

Final_data_for_ML1 = df[Selected_columns]
Final_data_for_ML1.head()

,ModelYear,EngineCapacity(cc),CarCompany,EngineType,Transmission,RegisteredCIty,CarColor,BodyType,Price(PKR_lacs)
0,2010,800.0,Suzuki,Petrol,Manual,Lahore,Maroon,Mini Van,6.45
1,2006,1000.0,Suzuki,Petrol,Manual,Islamabad,White,Hatchback,6.45
2,2006,1000.0,Suzuki,Petrol,Manual,Lahore,Silver,Hatchback,6.45
3,2012,800.0,Suzuki,Petrol,Manual,Lahore,Black,Hatchback,6.45
4,2011,800.0,Suzuki,Petrol,Manual,Sindh,White,Hatchback,6.50

# Data Transforms - Encoding

In [8]:
Final_data_for_ML1 = pd.get_dummies(Final_data_for_ML1, 
                                   columns=Categorical_features)
Final_data_for_ML1.head()

,ModelYear,EngineCapacity(cc),Price(PKR_lacs),CarCompany_Adam,CarCompany_Audi,CarCompany_BAIC,CarCompany_BMW,CarCompany_Changan,CarCompany_Chery,CarCompany_Chevrolet,...,BodyType_Micro Van,BodyType_Mini Van,BodyType_Pick Up,BodyType_SUV,BodyType_Sedan,BodyType_Single Cabin,BodyType_Station Wagon,BodyType_Subcompact hatchback,BodyType_Truck,BodyType_Van
0,2010,800.0,6.45,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,2006,1000.0,6.45,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2006,1000.0,6.45,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2012,800.0,6.45,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2011,800.0,6.50,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Model Building

#### Steps
1.   Seperating data into features and target.
2.   Train test split.
3.   Scaling of train data
4.   Model 1 -- Linear Regression
5.   Model 2 -- polynomial Regression
6.   Model 3 -- SVR Regression

## step 1: Seperating data into input features and target feature

In [9]:
features = Final_data_for_ML1.drop(['Price(PKR_lacs)'], axis = 1)
target = Final_data_for_ML1 ['Price(PKR_lacs)']
features.head()
#target.head()

,ModelYear,EngineCapacity(cc),CarCompany_Adam,CarCompany_Audi,CarCompany_BAIC,CarCompany_BMW,CarCompany_Changan,CarCompany_Chery,CarCompany_Chevrolet,CarCompany_DFSK,...,BodyType_Micro Van,BodyType_Mini Van,BodyType_Pick Up,BodyType_SUV,BodyType_Sedan,BodyType_Single Cabin,BodyType_Station Wagon,BodyType_Subcompact hatchback,BodyType_Truck,BodyType_Van
0,2010,800.0,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,2006,1000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2006,1000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2012,800.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2011,800.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## step 2: Train-test-split

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.3, random_state = 100)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8199, 139)
(3514, 139)
(8199,)
(3514,)

## step 3: Scaling of train data

In [11]:
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()
X_train = Scaler.fit_transform(X_train)
X_test = Scaler.transform(X_test)

X_train_scaled = pd.DataFrame(X_train, columns = features.columns)
X_train_scaled.head()

,ModelYear,EngineCapacity(cc),CarCompany_Adam,CarCompany_Audi,CarCompany_BAIC,CarCompany_BMW,CarCompany_Changan,CarCompany_Chery,CarCompany_Chevrolet,CarCompany_DFSK,...,BodyType_Micro Van,BodyType_Mini Van,BodyType_Pick Up,BodyType_SUV,BodyType_Sedan,BodyType_Single Cabin,BodyType_Station Wagon,BodyType_Subcompact hatchback,BodyType_Truck,BodyType_Van
0,0.783784,0.061372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.891892,0.061372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.241877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.061372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.972973,0.061372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## step 4: Apply Model 1 -- Linear Regression

In [12]:
# Default Linear Regression model without any tuning - base metric
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

Linear_Regression_default = LinearRegression()
Linear_Regression_default.fit(X_train, y_train)

Predictions_train_d = Linear_Regression_default.predict(X_train)
Predictions_test_d =Linear_Regression_default.predict(X_test)

print('Linear Regression default Model parameters:', Linear_Regression_default.get_params())
print('--------------------------------------------------')
print('\nLinear Regression default intercept :', Linear_Regression_default.intercept_)
print('\nLinear Regression default coefficients : ')
print('\n')
Coeficients = pd.DataFrame(Linear_Regression_default.coef_, index = features.columns, columns=['Coefficients'])
print(Coeficients)
print('--------------------------------------------------')
print('\n')
df1 = pd.DataFrame({'Model': ['Linear_Regression_default', 'Linear_Regression_default'],
                    'Data': ['Train', 'Test'], 
                    'MSE': [mean_squared_error(y_train, Predictions_train_d), mean_squared_error(y_test, Predictions_test_d)],
                    'RMSE': [np.sqrt(mean_squared_error(y_train, Predictions_train_d)), np.sqrt(mean_squared_error(y_test, Predictions_test_d))],
                    'MAE': [mean_absolute_error(y_train, Predictions_train_d), mean_absolute_error(y_test, Predictions_test_d)],
                   'R^2': [r2_score(y_train, Predictions_train_d), r2_score(y_test, Predictions_test_d)]})
df1

Linear Regression default Model parameters: {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False}
--------------------------------------------------

Linear Regression default intercept : 131467316424892.06

Linear Regression default coefficients :


                               Coefficients
ModelYear                      7.702996e+01
EngineCapacity(cc)             1.209348e+02
CarCompany_Adam                5.209943e+13
CarCompany_Audi               -2.119540e+13
CarCompany_BAIC               -2.119540e+13
...                                     ...
BodyType_Single Cabin         -8.621485e+13
BodyType_Station Wagon        -8.621485e+13
BodyType_Subcompact hatchback -8.621485e+13
BodyType_Truck                -8.982794e+13
BodyType_Van                  -8.621485e+13

[139 rows x 1 columns]
--------------------------------------------------

,Model,Data,MSE,RMSE,MAE,R^2
0,Linear_Regression_default,Train,9.602642e+01,9.799307e+00,6.278677e+00,8.825176e-01
1,Linear_Regression_default,Test,2.745738e+24,1.657027e+12,7.834048e+10,-3.300702e+21

## step 6: Apply Model 3 -- Ridge_Regression

In [13]:
# Default Ridge Regression model without any tuning - base metric
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

Ridge_Regression_default = Ridge()
Ridge_Regression_default.fit(X_train, y_train)
Predictions_train_d = Ridge_Regression_default.predict(X_train)
Predictions_test_d =Ridge_Regression_default.predict(X_test)

print('Ridge Regression default Model parameters:', Ridge_Regression_default.get_params())
print('--------------------------------------------------')
print('\nRidge Regression default intercept :', Ridge_Regression_default.intercept_)
print('\nRidge Regression default coefficients : ')
print('\n')
Coeficients = pd.DataFrame(Ridge_Regression_default.coef_, index = features.columns, columns=['Coefficients'])
print(Coeficients)
print('--------------------------------------------------')
print('\n')
df3 = pd.DataFrame({'Model': ['Ridge_Regression_default', 'Ridge_Regression_default'],
                    'Data': ['Train', 'Test'], 
                    'MSE': [mean_squared_error(y_train, Predictions_train_d), mean_squared_error(y_test, Predictions_test_d)],
                    'RMSE': [np.sqrt(mean_squared_error(y_train, Predictions_train_d)), np.sqrt(mean_squared_error(y_test, Predictions_test_d))],
                    'MAE': [mean_absolute_error(y_train, Predictions_train_d), mean_absolute_error(y_test, Predictions_test_d)],
                    'R^2': [r2_score(y_train, Predictions_train_d), r2_score(y_test, Predictions_test_d)]})
df3

Ridge Regression default Model parameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'max_iter': None, 'positive': False, 'random_state': None, 'solver': 'auto', 'tol': 0.0001}
--------------------------------------------------

Ridge Regression default intercept : -36.75964499238985

Ridge Regression default coefficients :


                               Coefficients
ModelYear                         74.884462
EngineCapacity(cc)               115.390337
CarCompany_Adam                    0.000000
CarCompany_Audi                   58.890161
CarCompany_BAIC                    7.833071
...                                     ...
BodyType_Single Cabin            -10.492729
BodyType_Station Wagon             8.691322
BodyType_Subcompact hatchback      5.879763
BodyType_Truck                   -13.058307
BodyType_Van                      -6.822854

[139 rows x 1 columns]
--------------------------------------------------

                      Model   Data         MSE       RMSE       MAE       R^2
0  Ridge_Regression_default  Train   97.005945   9.849160  6.320413  0.881319
1  Ridge_Regression_default   Test  113.637177  10.660074  6.635771  0.863395

## step 7: Apply Model 4 -- SVR default Regression

In [14]:
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

SVR_default = SVR()#(kernel='linear')
SVR_default.fit(X_train, y_train)
Predictions_train_d = SVR_default.predict(X_train)
Predictions_test_d =SVR_default.predict(X_test)

print('SVR default Model parameters:', SVR_default.get_params())
print('--------------------------------------------------')
print('\n')
df4 = pd.DataFrame({'Model': ['SVR_default', 'SVR_default'],
                    'Data': ['Train', 'Test'], 
                    'MSE': [mean_squared_error(y_train, Predictions_train_d), mean_squared_error(y_test, Predictions_test_d)],
                    'RMSE': [np.sqrt(mean_squared_error(y_train, Predictions_train_d)), np.sqrt(mean_squared_error(y_test, Predictions_test_d))],
                    'MAE': [mean_absolute_error(y_train, Predictions_train_d), mean_absolute_error(y_test, Predictions_test_d)],
                   'R^2': [r2_score(y_train, Predictions_train_d), r2_score(y_test, Predictions_test_d)]})
df4

SVR default Model parameters: {'C': 1.0, 'cache_size': 200, 'coef0': 0.0, 'degree': 3, 'epsilon': 0.1, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': -1, 'shrinking': True, 'tol': 0.001, 'verbose': False}
--------------------------------------------------

         Model   Data         MSE       RMSE       MAE       R^2
0  SVR_default  Train  156.439023  12.507559  7.191126  0.808607
1  SVR_default   Test  175.751917  13.257146  7.603315  0.788725

## collective result

In [15]:
collective_result = pd.concat([df1,df3,df4], ignore_index = True)
collective_result

,Model,Data,MSE,RMSE,MAE,R^2
0,Linear_Regression_default,Train,9.602642e+01,9.799307e+00,6.278677e+00,8.825176e-01
1,Linear_Regression_default,Test,2.745738e+24,1.657027e+12,7.834048e+10,-3.300702e+21
2,Ridge_Regression_default,Train,9.700594e+01,9.849160e+00,6.320413e+00,8.813192e-01
3,Ridge_Regression_default,Test,1.136372e+02,1.066007e+01,6.635771e+00,8.633946e-01
4,SVR_default,Train,1.564390e+02,1.250756e+01,7.191126e+00,8.086065e-01
5,SVR_default,Test,1.757519e+02,1.325715e+01,7.603315e+00,7.887254e-01

# 8a Final selection of Model

In [16]:
print('Best MEA,RMSE,MSE:')
collective_result.loc[collective_result['MAE'].idxmin()]

Best MEA,RMSE,MSE:

Model    Linear_Regression_default
Data                         Train
MSE                      96.026425
RMSE                      9.799307
MAE                       6.278677
R^2                       0.882518
Name: 0, dtype: object

In [17]:
collective_result.loc[ collective_result['RMSE'].idxmin()]

Model    Linear_Regression_default
Data                         Train
MSE                      96.026425
RMSE                      9.799307
MAE                       6.278677
R^2                       0.882518
Name: 0, dtype: object

In [18]:
collective_result.loc[collective_result['MSE'].idxmin()]

Model    Linear_Regression_default
Data                         Train
MSE                      96.026425
RMSE                      9.799307
MAE                       6.278677
R^2                       0.882518
Name: 0, dtype: object

In [19]:
collective_result.loc[collective_result['R^2'].idxmax()]

Model    Linear_Regression_default
Data                         Train
MSE                      96.026425
RMSE                      9.799307
MAE                       6.278677
R^2                       0.882518
Name: 0, dtype: object

#### In order to deploy the model we will follow these steps -

1. Train the model using 100% data available
2. Run the model on all the inputs from unseen data and return the prediction.

# 9. Train the model using 100% data set available

## 9.1 Train linear regrssion model using 100% data available

In [20]:
# input features and target
#print(features.shape)
#print(target.shape)

Linear_Regression = LinearRegression()
Linear_Regression.fit(features, target)
Predictions = Linear_Regression.predict(features)

print('Linear Regression Model parameters:', Linear_Regression.get_params())
print('\nLinear Regression intercept :', Linear_Regression.intercept_)
print('\nLinear Regression coefficients : ')
print('\n')
Coeficients = pd.DataFrame(Linear_Regression.coef_, index = features.columns, columns=['Coefficients'])
print(Coeficients)
print('\n')
print('-------------------------------------------------------')
print('Performance of SVR default Model')
final_LR = pd.DataFrame(({'Model': ['Linear_Regression'],
                          'MSE': [mean_squared_error(target, Predictions)],
                    'RMSE': [np.sqrt(mean_squared_error(target, Predictions))],
                    'MAE': [ mean_absolute_error(target, Predictions)],
                   'R^2': [r2_score(target, Predictions)]}))
final_LR

Linear Regression Model parameters: {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False}

Linear Regression intercept : -4198.231127483577

Linear Regression coefficients :


                               Coefficients
ModelYear                          2.086358
EngineCapacity(cc)                 0.022524
CarCompany_Adam                    5.475154
CarCompany_Audi                   61.273614
CarCompany_BAIC                    8.487025
...                                     ...
BodyType_Single Cabin            -15.905785
BodyType_Station Wagon             8.355843
BodyType_Subcompact hatchback      5.706071
BodyType_Truck                    -9.548456
BodyType_Van                      -6.027628

[139 rows x 1 columns]


-------------------------------------------------------
Performance of SVR default Model

               Model         MSE       RMSE       MAE       R^2
0  Linear_Regression  100.407862  10.020372  6.408088  0.877812

## 9.2. Train  Ridge Regression model using 100% data available

In [21]:
# input features and target
#print(features.shape)
#print(target.shape)

Ridge_Regression = Ridge()
Ridge_Regression.fit(features, target)
Predictions = Ridge_Regression.predict(features)

print('Ridge Regression Model parameters:', Ridge_Regression.get_params())
print('\nRidge Regression intercept :', Ridge_Regression.intercept_)
print('\nRidge Regression coefficients : ')
print('\n')
Coeficients = pd.DataFrame(Ridge_Regression.coef_, index = features.columns, columns=['Coefficients'])
print(Coeficients)
print('\n')
print('-------------------------------------------------------')
print('Performance of Ridge Regression')
final_RR = pd.DataFrame(({'Model': ['Ridge_Regression'],
                          'MSE': [mean_squared_error(target, Predictions)],
                    'RMSE': [np.sqrt(mean_squared_error(target, Predictions))],
                    'MAE': [ mean_absolute_error(target, Predictions)],
                   'R^2': [r2_score(target, Predictions)]}))
final_RR

Ridge Regression Model parameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'max_iter': None, 'positive': False, 'random_state': None, 'solver': 'auto', 'tol': 0.0001}

Ridge Regression intercept : -4177.205000445346

Ridge Regression coefficients :


                               Coefficients
ModelYear                          2.076001
EngineCapacity(cc)                 0.022495
CarCompany_Adam                    2.611074
CarCompany_Audi                   59.565003
CarCompany_BAIC                    7.297328
...                                     ...
BodyType_Single Cabin            -13.394246
BodyType_Station Wagon             8.095855
BodyType_Subcompact hatchback      4.249905
BodyType_Truck                   -13.888650
BodyType_Van                      -5.959844

[139 rows x 1 columns]


-------------------------------------------------------
Performance of Ridge Regression

              Model         MSE       RMSE       MAE       R^2
0  Ridge_Regression  100.946539  10.047215  6.441498  0.877157

## 9.3 Train the SVR_default model using 100% data available

In [22]:
# input features and target
#print(features.shape)
#print(target.shape)

Support_Vector_Regression = SVR()#(kernel='linear')
Support_Vector_Regression.fit(features, target)
Predictions = Support_Vector_Regression.predict(features)

print('Support Vector Regression (SVR) Model parameters:', Support_Vector_Regression.get_params())
print('\n Support Vector Regression (SVR) intercept :', Support_Vector_Regression.intercept_)
print('\n')
print('-------------------------------------------------------')
print('Performance of Support Vector Regression (SVR)  Model')
final_SVR = pd.DataFrame(({'Model': ['Support_Vector_Regression(SVR)'],
                     'MSE': [mean_squared_error(target, Predictions)],
                    'RMSE': [np.sqrt(mean_squared_error(target, Predictions))],
                    'MAE': [ mean_absolute_error(target, Predictions)],
                   'R^2': [r2_score(target, Predictions)]}))
final_SVR

Support Vector Regression (SVR) Model parameters: {'C': 1.0, 'cache_size': 200, 'coef0': 0.0, 'degree': 3, 'epsilon': 0.1, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': -1, 'shrinking': True, 'tol': 0.001, 'verbose': False}

 Support Vector Regression (SVR) intercept : [63.47417266]


-------------------------------------------------------
Performance of Support Vector Regression (SVR)  Model

                            Model         MSE       RMSE        MAE       R^2
0  Support_Vector_Regression(SVR)  283.065789  16.824559  11.118568  0.655533

In [23]:
combineResultfor100 = pd.concat([final_LR,final_RR,final_SVR], ignore_index = True)
combineResultfor100

                            Model         MSE       RMSE        MAE       R^2
0               Linear_Regression  100.407862  10.020372   6.408088  0.877812
1                Ridge_Regression  100.946539  10.047215   6.441498  0.877157
2  Support_Vector_Regression(SVR)  283.065789  16.824559  11.118568  0.655533

# 10. Run the model on unseen data and return the prediction.

## 10.1 load and encoding the unseen data

In [24]:
test_data = pd.read_csv('CarPrice_main_dataset.csv')
test_data.head()

,S.No#,CarTitle,CarCompany,ModelYear,Mileage(km),EngineType,Transmission,RegisteredCIty,CarColor,EngineCapacity(cc),BodyType,Price(PKR_lacs)
0,1,Suzuki Bolan VX 2010,Suzuki,2010,60000,Petrol,Manual,Lahore,Maroon,800,Mini Van,6.45
1,2,Suzuki Alto VXR 2006,Suzuki,2006,54000,Petrol,Manual,Islamabad,White,1000,Hatchback,6.45
2,3,Suzuki Cultus VXR 2006,Suzuki,2006,50000,Petrol,Manual,Lahore,Silver,1000,Hatchback,6.45
3,4,Suzuki Mehran VX (CNG) 2012,Suzuki,2012,59000,Petrol,Manual,Lahore,Black,800,Hatchback,6.45
4,5,Suzuki Mehran VX 2011,Suzuki,2011,45000,Petrol,Manual,Sindh,White,800,Hatchback,6.50

In [25]:
#converting string object data type to category data type
test_data['CarCompany'] = test_data['CarCompany'].astype('category')
test_data['EngineType'] = test_data['EngineType'].astype('category')
test_data['Transmission'] = test_data['Transmission'].astype('category')
test_data['RegisteredCIty'] = test_data['RegisteredCIty'].astype('category')
test_data['CarColor'] = test_data['CarColor'].astype('category')
test_data['BodyType'] = test_data['BodyType'].astype('category')


#converting numeric object data type to float data type
test_data['EngineCapacity(cc)'] = test_data['EngineCapacity(cc)'].astype('float')
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11713 entries, 0 to 11712
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   S.No#               11713 non-null  int64
 1   CarTitle            11713 non-null  object
 2   CarCompany          11713 non-null  category
 3   ModelYear           11713 non-null  int64
 4   Mileage(km)         11713 non-null  int64
 5   EngineType          11713 non-null  category
 6   Transmission        11713 non-null  category
 7   RegisteredCIty      11713 non-null  category
 8   CarColor            11713 non-null  category
 9   EngineCapacity(cc)  11713 non-null  float64
 10  BodyType            11713 non-null  category
 11  Price(PKR_lacs)     11713 non-null  float64
dtypes: category(6), float64(2), int64(3), object(1)
memory usage: 623.3+ KB

In [26]:
final_Categorical_features = ['CarCompany','EngineType', 'Transmission', 'RegisteredCIty', 'CarColor', 'BodyType']
#final_Continuous_features =[ 'ModelYear', 'Mileage(km)','EngineCapacity(cc)']
#finalSelected_features=['CarCompany', 'ModelYear' ,'EngineType', 'Transmission', 'RegisteredCIty', 'CarColor', 'EngineCapacity(cc)', 'BodyType']

final_Selected_columns=Selected_features#final_Categorical_features+final_Continuous_features
Final_test_data_for_ML1 = test_data[final_Selected_columns]
Final_test_data_for_ML1.head()

,ModelYear,EngineCapacity(cc),CarCompany,EngineType,Transmission,RegisteredCIty,CarColor,BodyType
0,2010,800.0,Suzuki,Petrol,Manual,Lahore,Maroon,Mini Van
1,2006,1000.0,Suzuki,Petrol,Manual,Islamabad,White,Hatchback
2,2006,1000.0,Suzuki,Petrol,Manual,Lahore,Silver,Hatchback
3,2012,800.0,Suzuki,Petrol,Manual,Lahore,Black,Hatchback
4,2011,800.0,Suzuki,Petrol,Manual,Sindh,White,Hatchback

In [27]:
Final_data_for_ML1 = pd.get_dummies(Final_test_data_for_ML1, 
                                   columns=final_Categorical_features )#,  
                                    #drop_first=True)
Final_data_for_ML1.head()

,ModelYear,EngineCapacity(cc),CarCompany_Adam,CarCompany_Audi,CarCompany_BAIC,CarCompany_BMW,CarCompany_Changan,CarCompany_Chery,CarCompany_Chevrolet,CarCompany_DFSK,...,BodyType_Micro Van,BodyType_Mini Van,BodyType_Pick Up,BodyType_SUV,BodyType_Sedan,BodyType_Single Cabin,BodyType_Station Wagon,BodyType_Subcompact hatchback,BodyType_Truck,BodyType_Van
0,2010,800.0,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,2006,1000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2006,1000.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2012,800.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2011,800.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## 10.2 apply linear regression model on the unseen data

In [28]:
Prediction_LR=Linear_Regression.predict(Final_data_for_ML1)
Prediction_Result_LR=pd.DataFrame(Prediction_LR, columns=['PredictedPrice_LR'])
print(Prediction_Result_LR)

       PredictedPrice_LR
0              -6.119897
1              -3.434653
2              -5.417758
3               5.405754
4               1.067013
...                  ...
11708         167.603416
11709         108.418442
11710         120.258342
11711         106.155631
11712          81.468882

[11713 rows x 1 columns]

## 10.2 apply Ridge regression model on the unseen data

In [29]:
Prediction_RR=Ridge_Regression.predict(Final_data_for_ML1)
Prediction_Result_RR=pd.DataFrame(Prediction_RR, columns=['PredictedPrice_RR'])
print(Prediction_Result_RR)

       PredictedPrice_RR
0              -6.016137
1              -3.315050
2              -5.310417
3               5.540192
4               1.109147
...                  ...
11708         168.453372
11709         108.162391
11710         119.562169
11711         106.180875
11712          81.598667

[11713 rows x 1 columns]

## 10.2 apply SVR regression model on the unseen data

In [30]:
Prediction_SVR=Support_Vector_Regression.predict(Final_data_for_ML1)
Prediction_Result_SVR=pd.DataFrame(Prediction_SVR, columns=['PredictedPrice_SVR'])
print(Prediction_Result_SVR)

       PredictedPrice_SVR
0               21.648084
1               26.739802
2               26.739674
3               21.656599
4               21.652244
...                   ...
11708           73.444744
11709          109.932237
11710           97.223075
11711           97.226538
11712           94.048755

[11713 rows x 1 columns]

## 10.3 add the PredictedPrice from three model in testdata dataframe

In [31]:
test_data['PredictedPrice_LR']=Prediction_LR
test_data['PredictedPrice_RR']=Prediction_RR
test_data['PredictedPrice_SVR']=Prediction_SVR

test_data

,S.No#,CarTitle,CarCompany,ModelYear,Mileage(km),EngineType,Transmission,RegisteredCIty,CarColor,EngineCapacity(cc),BodyType,Price(PKR_lacs),PredictedPrice_LR,PredictedPrice_RR,PredictedPrice_SVR
0,1,Suzuki Bolan VX 2010,Suzuki,2010,60000,Petrol,Manual,Lahore,Maroon,800.0,Mini Van,6.45,-6.119897,-6.016137,21.648084
1,2,Suzuki Alto VXR 2006,Suzuki,2006,54000,Petrol,Manual,Islamabad,White,1000.0,Hatchback,6.45,-3.434653,-3.315050,26.739802
2,3,Suzuki Cultus VXR 2006,Suzuki,2006,50000,Petrol,Manual,Lahore,Silver,1000.0,Hatchback,6.45,-5.417758,-5.310417,26.739674
3,4,Suzuki Mehran VX (CNG) 2012,Suzuki,2012,59000,Petrol,Manual,Lahore,Black,800.0,Hatchback,6.45,5.405754,5.540192,21.656599
4,5,Suzuki Mehran VX 2011,Suzuki,2011,45000,Petrol,Manual,Sindh,White,800.0,Hatchback,6.50,1.067013,1.109147,21.652244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11708,11709,Mercedes Benz C Class C63 AMG 2010,Mercedes,2010,40000,Petrol,Automatic,Karachi,White,6200.0,Coupe,150.00,167.603416,168.453372,73.444744
11709,11710,Toyota Land Cruiser 79 Series 30th Anniversary...,Toyota,2015,40000,Petrol,Manual,Sindh,Gold,4000.0,SUV,150.00,108.418442,108.162391,109.932237
11710,11711,Toyota Fortuner 2.8 Sigma 4 2021,Toyota,2021,18000,Diesel,Automatic,Islamabad,White,2800.0,SUV,150.00,120.258342,119.562169,97.223075
11711,11712,Toyota Fortuner 2.8 Sigma 4 2022,Toyota,2022,3500,Petrol,Automatic,Un-Registered,White,2800.0,SUV,150.00,106.155631,106.180875,97.226538
11712,11713,Toyota Prado TX L Package 2.7 2012,Toyota,2012,48000,Petrol,Automatic,Sindh,Black,2700.0,SUV,150.00,81.468882,81.598667,94.048755

## 10.4 saving the result predicated prices

In [32]:

# saving the dataframe
test_data.to_csv('result_CarPrice_main_dataset.csv', index=False)